.webview-font {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 28;
  p.fields textarea {
    vertical-align: middle;
    float: right;
  }

}
.product-card {
  margin-top: -5px;
  margin-left: 5px;
  max-height: 1240px;
  border-radius: 6px;
  moz-border-radius: 6px;
  webkit-border-radius: 6px;
  border:2px #245ec6 solid;
}
.chat-button {
  float: right;
  line-height: 35px;
  font-size: 20px;
  border-radius: 4px;
  moz-border-radius: 4px;
  webkit-border-radius: 4px;
  border:2px #245ec6 solid;
  color: white;
  background: rgb(59,114,255); /* Old browsers */
  text-decoration: none;
}
#jquery-loader.blue-with-image-2{
  border:none;
  padding-top:35px;
  background-color: transparent;
  text-align: center;
  background-image: url(asset-path('../ajax-loader.gif'));
  background-position: center center;
  background-repeat: no-repeat;
}
