<%= form_tag charges_path do %>
  <div>
    <%= image_tag(@product.image.image_url) %>
  </div>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Nitro Kaffe No6"
          data-amount="500"
          data-zip-code="true"
          data-locale="auto"></script>
<% end %>
