.webview-font
  = image_tag "cb-ty-page.png", class: "ty-image"
  - if @amount.to_i > 0
    p You paid #{@display_amount}
  - else
    p Your NitrøKaffe brew was on us this time!
  = link_to 'Close', charges_thanks_path(sender_id:@sender_id), {class:'chat-button', id:'closeButton'}

  javascript:
    $(function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = function() {
      $("#closeButton").click(function() {
        MessengerExtensions.requestCloseBrowser(
          function success() {
            alert("succeeded");},
          function error(err) {
            alert("error closing webview: " + err);}
        );
      });
    };
